@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<webbanhang.Context.Order>

@{
    ViewBag.Title = "Index";
}
<style>

        /* Set the style for the a tag */
        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #29c9d4;
        }
            /* set the style for the active class */
            .pagination a.active {
                background-color: dodgerblu;
                color: white;
                display: inline-block;
                width: 40px;
                height: 48px;
                border: 1px solid #ffb600;
            }
            /* add background color when user hovers on inactive class */
            .pagination a:hover:not(.active) {
                background-color: #4cff00;
                display: inline-block;
                width: 40px;
                height: 48px;
                border: 1px solid #00ffff;
            }
    </style>
<div class="content-wrapper">
    <h2>Quản Lí Đơn Hàng</h2>
    @using (Html.BeginForm("Index", "Order", FormMethod.Get))
    {
        <p>
            Tìm tên sản phẩm:@Html.TextBox("SearchString", ViewBag.CurentFilter as string)
            <input type="submit" value="Tìm kiếm" />
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Productid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CreatedOnUtc)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Productid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOnUtc)
                </td>
                <td>
                    <a href="@Url.Action("Delete","Product",new { id = item.Id })" class="btn btn-ms btn-primary "> <i class="fas fa-trash-alt text-white"></i></a>
                </td>
            </tr>
        }

    </table>
    </table>Trang @(Model.PageCount<Model.PageNumber ? 0:Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currenFiter = ViewBag.currenFiter }))
</div>